#**********************************************************************
#***                                                                ***
#*** File:    tk4-.cnf                                              ***
#***                                                                ***
#*** Purpose: Hercules configuration file for MVS 3.8j TK4-         ***
#***                                                                ***
#*** Updated: 2014/12/22                                            ***
#***                                                                ***
#**********************************************************************
CPUSERIAL 000611
CPUMODEL 3033
MAINSIZE ${MAINSIZE:=16}
XPNDSIZE 0
CNSLPORT ${CNSLPORT:=3270}
HTTP PORT ${HTTPPORT:=8038}
HTTP ROOT hercules/httproot
HTTP START
NUMCPU ${NUMCPU:=1}
MAXCPU ${MAXCPU:=1}
TZOFFSET +0000
ARCHMODE S/370
OSTAILOR QUIET
DIAG8CMD ENABLE ECHO
# .-----------------------------Device number
# |    .------------------------Device type
# |    |   .--------------------File name
# |    |   |
# V    V   V
#--- ---- --------------------
#
# unit record devices
#
0002 3211 prt/prt002.txt ${TK4CRLF}
000E 1403 prt/prt00e.txt ${TK4CRLF}
000C 3505 ${RDRPORT:=3505} sockdev ascii trunc eof
000D 3525 pch/pch00d.txt ascii
0480 3420 *
010C 3505 jcl/dummy eof ascii trunc
010D 3525 pch/pch10d.txt ascii
000F 1403 prt/prt00f.txt ${TK4CRLF}
030E 1403 log/hardcopy.log ${TK4CRLF}
#
# consoles
#
INCLUDE conf/${TK4CONS:=intcons}.cnf
#
# local 3270 devices (VTAM)
#
00C0 3270
00C1 3270
00C2 3270
00C3 3270
00C4 3270
00C5 3270
00C6 3270
00C7 3287
#
# local 3270 terminals (TCAM)
#
03C0 3270 TCAM
03C1 3270 TCAM
03C2 3270 TCAM
03C3 3270 TCAM
03C4 3270 TCAM
03C5 3270 TCAM
03C6 3270 TCAM
03C7 3270 TCAM
#
# optional devices
#
INCLUDE ${CNF101A:=conf}/tk4-_${REP101A:=default}${CMD101A}.cnf
#
# TK4- DASD
#
0152 3330 dasd/hasp00.152 sf=/data/hasp00_
0191 3390 dasd/mvscat.191 sf=/data/mvscat_
0248 3350 dasd/mvsdlb.248 sf=/data/mvsdlb_
0148 3350 dasd/mvsres.148 sf=/data/mvsres_
0160 3340 dasd/page00.160 sf=/data/page00_
0161 3340 dasd/page01.161 sf=/data/page01_
0240 3350 dasd/pub000.240 sf=/data/pub000_
0241 3350 dasd/pub010.241 sf=/data/pub010_
0270 3375 dasd/pub001.270 sf=/data/pub001_
0271 3375 dasd/pub011.271 sf=/data/pub011_
0280 3380 dasd/pub002.280 sf=/data/pub002_
0281 3380 dasd/pub012.281 sf=/data/pub012_
0290 3390 dasd/pub003.290 sf=/data/pub003_
0291 3390 dasd/pub013.291 sf=/data/pub013_
0149 3350 dasd/smp001.149 sf=/data/smp001_
014a 3350 dasd/smp002.14a sf=/data/smp002_
014b 3350 dasd/smp003.14b sf=/data/smp003_
014c 3350 dasd/smp004.14c sf=/data/smp004_
0131 2314 dasd/sort01.131 sf=/data/sort01_
0132 2314 dasd/sort02.132 sf=/data/sort02_
0133 2314 dasd/sort03.133 sf=/data/sort03_
0134 2314 dasd/sort04.134 sf=/data/sort04_
0135 2314 dasd/sort05.135 sf=/data/sort05_
0136 2314 dasd/sort06.136 sf=/data/sort06_
0140 3350 dasd/work00.140 sf=/data/work00_
0170 3375 dasd/work01.170 sf=/data/work01_
0180 3380 dasd/work02.180 sf=/data/work02_
0190 3390 dasd/work03.190 sf=/data/work03_
#
# CBT DASD
#
INCLUDE conf/cbt_dasd.cnf
#
# Source DASD
#
INCLUDE conf/source_dasd.cnf
#
# TK4- updates
#
INCLUDE conf/tk4-_updates.cnf
#
# local updates
#
${LOCALCNF:=INCLUDE conf/local.cnf}
